{% extends "public.html" %}

{% block title %}
    Committee Locations
{% endblock %}

{% block main %}
<h1>Committee Locations</h1>

<br>

<table class="table table-striped" style="text-align:left">
    <thead>
        <tr>
            <th>Organ</th>
            <th>Full Name</th>
            <th>Thursday, 01/23</th>
            <th>Friday, 01/24</th>
            <th>Saturday, 01/25</th>
            <th>Sunday, 01/26</th>
        </tr>
    </thead>
    <tbody>
        {% for committee in committees %}
        <tr>
            <td>{{ committee["organ"] }}</td>
            <td>{{ committee["fullname"] }}</td>
            <td><a href="ymun.org/rooms/
            {% if "WLH" in committee["day1"]%}
            wlh
            {% elif "LC" in committee["day1"]%}
            lc
            {% elif "SSS" in committee["day1"]%}
            sss
            {% elif "PH" in committee["day1"]%}
            ph
            {% else %}
            omni
            {% endif %}">{{ committee["day1"] }}</a></td>
            <td><a href="ymun.org/rooms/
            {% if "WLH" in committee["day2"]%}
            wlh
            {% elif "LC" in committee["day2"]%}
            lc
            {% elif "SSS" in committee["day2"]%}
            sss
            {% elif "PH" in committee["day2"]%}
            ph
            {% else %}
            omni
            {% endif %}">{{ committee["day2"] }}</a></td>
            <td><a href="ymun.org/rooms/
            {% if "WLH" in committee["day3"]%}
            wlh
            {% elif "LC" in committee["day3"]%}
            lc
            {% elif "SSS" in committee["day3"]%}
            sss
            {% elif "PH" in committee["day3"]%}
            ph
            {% else %}
            omni
            {% endif %}">{{ committee["day3"] }}</a></td>
            <td><a href="ymun.org/rooms/
            {% if "WLH" in committee["day4"]%}
            wlh
            {% elif "LC" in committee["day4"]%}
            lc
            {% elif "SSS" in committee["day4"]%}
            sss
            {% elif "PH" in committee["day4"]%}
            ph
            {% else %}
            omni
            {% endif %}">{{ committee["day4"] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}